Adafruit-Blinka==8.68.1
adafruit-circuitpython-sht4x==1.0.25
dash==3.3.0
dash-bootstrap-components==2.0.4
dash-bootstrap-templates==2.1.0
dash_daq==0.6.0
Flask==3.1.2
lgpio==0.2.2.0
numpy==2.3.5
plotly==6.5.0
RPi.GPIO==0.7.1
